body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.post-layout {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 5px;
}